/* General styles */
.errmsg {
    background-color: lightpink;
    color: rgb(46, 40, 209);
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    transition: opacity 0.3s ease;
    opacity: 1;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.kolo {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    padding: 0.25rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.8);
}

.kolo:focus {
    border-color: #ff8c00;
}

.polo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
    padding-left: 1vw;
    font-size: 17px;
    color: rgb(1, 10, 18);
}

/* Background styles */
.mcard {
    /* Abh code*/
    /* left: 100px; */
    top: 80px;
    border-radius: 1rem;
    border: 1px solid transparent;
    backdrop-filter: blur(4rem);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);
    border-top-color: rgba(225, 225, 225, 0.5);
    border-left-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(225, 225, 225, 0.1);
    border-right-color: rgba(225, 225, 225, 0.1);
    /* end abh code*/
}

/* Form styles */
.Appo2 {
    width: 40vw;
    height: 54vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    animation: fadeIn 0.5s ease forwards;
    opacity: 0;
}

.form_containerAd {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    width: 40vw;
    height: 58vh;
    color: #000000;
    overflow-wrap: break-word;
    background-color: rgba(0, 0, 0, 0.5); /* Black with decreased opacity */
    backdrop-filter: blur(30px);
    box-shadow: 3px 4px 36px -6px rgba(53, 3, 3, 0.8);
    border-radius: 50px;
    text-shadow: 0.3px 0.3px rgb(164, 120, 120);
    padding-bottom: 5vh;
    position: relative;
}

/* Other styles */
h1 {
    font-family: 'Poppins', sans-serif;
    font-size: large;
    padding-top: 5vh;
}

.buttonAd {
    width: 10vw;
    background-color: maroon;
}

.containerAd {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 600px) {
    .form_containerAd {
        width: 60vw !important;
    }
    .Appo2 {
        width: 60vw !important;
    }
}

@media (max-height: 600px) {
    .form_containerAd {
        height: fit-content !important;
    }
    .Appo2 {
        height: fit-content !important;
    }
}

.sig {
    padding-top: 12vh;
    padding-left: 1vw;
    padding-bottom: 2vh;
    font-size: 30px;
    color: #fdf8f8;
}

.bu {
    text-align: center;
    padding-top: 2vh;
}

.bu:hover {
    transform: scale(1.2);
}

.left123 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 8vh;
    padding-bottom: 7vh;
    width: 10vw;
    height: 8vh;
}

.aau {
    padding-top: 10vh;
    width: 25vw;
}

.a11 {
    color: white;
    font-size: medium;
    padding: 8px 22px;
    border-radius: 6px;
    background: #d9b727;
    transition: all 0.2s ease;
    border-color: rgb(0, 0, 0) !important;
}

.a11:active {
    transform: scale(0.96);
}

.a11:hover {
    transform: scale(1.2);
}
